{% extends "website/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'website/css/investing_philosophy.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/performance.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/internships.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/contact.css' %}">
{% endblock %}

{% block content %}
<div class="contact_container">
    <h5>Contact</h5>
    <p>Thank you for visiting.
        <br>
        <br>
        For more information, please send an email to NEEDS EMAIL.
    </p>
</div>
{% endblock %}
