{% extends "website/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'website/css/investing_philosophy.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/performance.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/internships.css' %}">
{% endblock %}

{% block content %}
<h5>Internships</h5>
<p>On a year-round and remote basis, we offer equity research analyst and programming internships to committed students willing to dedicate a minimum of 20-25 hours per week.
</p>
<p>Equity research analyst interns are offered the opportunity to assist in evaluating companies and making investment decisions. After being assigned a group of stocks, each intern will be responsible for putting together presentations explaining company segments, key products, important movements in the stock price, pertinent balance sheet information, earnings estimates, etc. and coming up with an investment recommendation.
</p>
<p>Programming interns are given the opportunity to acquire hands-on expertise with a variety of languages and tools.
</p>
<p>To apply, download and complete the <a href="" download>internship questionnaire</a> and email your answers (along with your resume and cover letter) to EMAIL ADDRESS.
</p> 
{% endblock %}
