{% extends "website/base.html" %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'website/css/investing_philosophy.css' %}">
{% endblock %}

{% block content %}
<h5>Our Portfolio Management Philosophy</h5>
<p>While we believe that a strong understanding of mathematical techniques and statistical concepts are essential to the successful implementation of any portfolio management strategy, the guiding principles should be strongly grounded in a common-sense, practical-business approach. We believe that many of the quantitative-based funds end up using too much math for its own sake. —a somewhat surprising conclusion, given that our Portfolio Manager himself is a Math. Ph.D. (This last part seems a bit awkward and gratuitous. Might be a better idea to just list credentials somewhere.)
</p>
<p>Instead, we believe that at the portfolio level the most promising long-term approach consists of a sound marriage of quantitative techniques and logical Fundamental analysis. As a general rule, we allow no more than 10% - 15% of the portfolio to be allocated to short-term “trading” opportunities, with the remaining portion strictly reserved for long-only, high-conviction picks managed with our Adaptive Harvesting approach.
</p>
<h5>“Adaptive Harvesting” – Our Vegetable Garden Metaphor</h5>
<p>To maintain contact with reality, we find it helpful to describe our overarching portfolio management strategy using a vegetable garden metaphor: Adaptive Harvesting.
</p>
<p>Tending to a garden has many attendant activities. There is the fertilizing, the planting, the watering, and the pruning, among others. All activities require just the right mix of personal attention and scientific knowledge, for as long as it takes, until the nurtured seedlings are ready for the final activity: the harvesting. 
</p>
<p>Some fruits are ripe to be harvested rather quickly, and this should be done promptly lest they rot on the tree. Likewise, some fruits are growing up nicely but are not yet ripe and should be left on the vine for just a little bit longer. And some plants have been infected by disease and may need to be cured or cut off.
</p>
<p>We find the vegetable garden metaphor to be appropriate because, as with investment decisions, each seedling is ready for picking at its own time and pace, as no two will have identical time horizons.
</p>
<h5>How We Select Stocks For The Portfolio</h5>
<p>At the individual stock level, the opportunities we identify come in many forms—the investment universe is a veritable “zoo,” and there are many different kinds of “animals” out there. Here is a partial list:
</p>
<ul>
<li><span class="italic">Market fatiguers:</span> Stocks that saw a nice rise in price after positive news was announced but have since been ignored and drifted back down (“market fatigue”), likely due to the (often) long wait times between meaningful catalysts—and are now thus substantially de-risked while possessing the same upside potential (e.g. FENC, February 2020). 
</li>
<li><span class="italic">Babies in the bathwater:</span> Stocks that have been beaten down as part of a macro movement in the economy or as part of an indiscriminate move in their sector (e.g. VCEL, March 2020). 
</li>
<li><span class="italic">Failure to distinguish:<span> Stocks that have fallen in sympathy with a competitor – with investors failing to distinguish important differences (this happens often with biotech stocks when competitors release data). 
</li>
<li><span class="italic">Changing narratives:</span> Companies that have performed (very) poorly over the past few months or years but that now are presented with a new channel of opportunities, often with a new and focused management and renewed energy (e.g. AMSC, February 2017).
</li>
<li><span class="italic">Diamonds in the rough:</span> Companies that are little understood or have been ignored but face great prospects (e.g. OMER, July 2019).
</li>
<li><span class="italic">Victims of fear:</span> Companies that have been punished by an exaggerated level of fear but whose business prospects are asymmetrically good (e.g. ENDP, October 2020).
</li>
<li><span class="italic">Semi-arbitrages:</span> Inconsistent pricing in the market due to a merger announcement, volatility of a subsidiary/holding, etc.
</li>
<li><span class="italic">Temporary setbacks:</span> Companies that drop from a justified piece of bad news that may add some near-term uncertainty (such as an FDA filing delay), but whose long-term prospects remain unchanged (e.g. SCPH, January 2021).
</li>
</ul>
<p>Even though the storyline behind each of these types of investments is different, they all have something in common: they share an asymmetric risk/reward profile. They are great bets with very favorable (mathematical) expected values, albeit some may have high risk as a stand-alone bet (many companies in the biotech space have this characteristic). 
</p>
<p>The high risk dictates that any single position be small. However, in a wide portfolio, the risk is diversified away and is (eventually) uncorrelated with the market.
</p>
<p>For these types of stocks, each position should be viewed as an individual bet which should be included in a well-diversified portfolio, with each individual initial weight in the range of 1%-5%. 
</p>
<h5>Technical Note: Pitfalls Of Common Portfolio Management Approaches And The Genesis Of “Adaptive Harvesting”</h5>
<p>Markowitz-style Portfolio Optimization (the foundation of Modern Portfolio Theory) and its variants underlie the strategies of most asset management funds, and for almost 70 years have permeated (and been the bedrock of) the thinking of Finance professionals.
</p>
<p>Yet these models are fraught with both theoretical and practical issues.
</p>
<p>As we do not wish to delve too deeply into theory here, we provide at the end a few select references of interest for those who are more scientifically inclined. But in short, our critiques of Modern Portfolio Theory can be summed up by the following three comments:
</p>
<ul>
<li> The parameters that go into the calculations are estimated from the past and may have little relevance to the future;
</li>
<li> Complicated mathematical calculations and modeling give an illusion of precision and accuracy that is just not there;
</li>
<li> The entire methodology is based on a fixed horizon which is the same for all securities (whereas our garden metaphor approach is much closer to reality).
</li>
</ul>
<p> The Adaptive Harvesting strategy, in contrast, is based on combining and refining well-accepted value and behavioral analysis ideas:
</p>
<ul>
<li> Qualitative analysis of company fundamentals can identify undervalued stocks – stocks that are poised for growth once investors recognize their true value;
</li>
<li> Behavioral analyses either looks for catalysts that might cause a change in market sentiment or tries to identify ongoing trends in support of the underlying thesis;
</li>
<li> Without going into details, at the portfolio level the collection of single-stock bets is managed with a methodology more akin to an “à la Thorpe” style than to the mainstream Mean-Variance portfolio models.
</li>
</ul>
<p>We welcome any thoughts or comments you may have.
</p>
<h5>Selected Readings</h5>
<ul>
<li>Chua, D.; Krizman, M.; Page, S. (2009). "The Myth of Diversification". Journal of Portfolio Management. 36 (1): 26–35.
</li>
<li> Duke, A. (2018). “Thinking in Bets: Making Smarter Decisions When You Don't Have All the Facts”, ISBN-13: 978-0735216358.
</li>
<li> Humphrey, J.; Benson, K.; Low, R.K.Y.; Lee, W.L. (2015). "Is diversification always optimal?". Pacific Basin Finance Journal. 35 (B): B. doi:10.1016/j.pacfin.2015.09.003.
</li>
<li> MacLean, L.C.; Thorp, E.O.; Ziemba, W.T. (2011). “The Kelly Capital Growth Investment Criterion: Theory and Practice (World Scientific Handbook in Financial Economics Series 3)”, ISBN-13: 978-9814383134.
</li>
<li> Markowitz, H.M. (1952). "Portfolio Selection". The Journal of Finance. 7 (1): 77–91. doi:10.2307/2975974. JSTOR 2975974.
</li>
<li> Markowitz, H.M. (1959). Portfolio Selection: Efficient Diversification of Investments. New York: John Wiley & Sons. (reprinted by Yale University Press, 1970.
</li>
<li> Poundstone, W. (2006). "Fortune’s Formula: The Untold Story of the Scientific Betting System that Beat the Casinos and Wall Street”, ISBN-13: 978-0809045990.
</li>
<li> Taleb, N. (2005). “Fooled by Randomness: The Hidden Role of Chance in Life and in the Markets (Incerto)”, ISBN-13: 978-1587991905.
</li>
<li> Thorpe, E.O. (2018). “A Man for All Markets: From Las Vegas to Wall Street, How I Beat the Dealer and the Market”, ISBN-13: 978-0812979909.
</li>
<li> Wong, C.X. (2011). “Precision: Statistical and Mathematical Methods in Horse Racing”, ISBN-13: 978-1432768522.
</li>
</ul>
{% endblock %}
