appdirs==1.4.4
appnope==0.1.2
asgiref==3.3.1
astroid==2.4.2
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.3
cachelib==0.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==7.1.2
cssselect==1.1.0
decorator==4.4.2
defusedxml==0.7.0
Deprecated==1.2.11
Django==3.1.6
django-bootstrap4==2.3.1
django-debug-toolbar==3.2
django-phone-field==1.8.1
django-phonenumber-field==5.0.0
django-phonenumber-filter==1.0.0
django-remember-me==0.1.1
django-tables2==2.3.4
et-xmlfile==1.0.1
Flask==1.1.2
howdoi==2.0.10
idna==2.10
ipython==7.20.0
ipython-genutils==0.2.0
isort==5.7.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.18.0
Jinja2==2.11.3
keep==2.10
lazy-object-proxy==1.4.3
lxml==4.6.2
MarkupSafe==1.1.1
mccabe==0.6.1
multitasking==0.0.9
numpy==1.20.1
openpyxl==3.0.6
pandas==1.2.3
pandas-datareader==0.9.0
parso==0.8.1
pexpect==4.8.0
phonenumbers==8.12.20
pickleshare==0.7.5
prompt-toolkit==3.0.16
ptyprocess==0.7.0
pycparser==2.20
PyGithub==1.54.1
Pygments==2.7.4
PyJWT==1.7.1
pylint==2.6.0
pyquery==1.4.3
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
soupsieve==2.2.1
sqlparse==0.4.1
terminaltables==3.1.0
toml==0.10.2
traitlets==5.0.5
urllib3==1.26.3
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
yfinance==0.1.55
